.Title {
    padding-top: 30px;
    color: white;
    font-family:cursive;
    text-shadow: 0 0 12px #000000;
    font-size: 60px;
}

.navbar-brand{
    color: white;
    font-family:cursive;
    font-size: 20px;
}




